    <!-- Quick Actions -->
         <div class="bg-white shadow-md p-4 rounded-md">
 <div class="quick-actions grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 flex-wrap gap-4 xl:gap-6 mx-auto">
          <div class="hover:shadow-sm cursor-pointer lg:w-20">
            <div class="flex flex-col items-center space-y-2">
              <div class="w-10 h-10 bg-gray-300 rounded-lg flex items-center justify-center">
                <mat-icon class="text-blue-600 text-sm">local_hospital</mat-icon>
              </div>
              <span class="text-xs text-center text-gray-700 leading-tight">Sairaalalähete</span>
            </div>
          </div>
        
          <div class="hover:shadow-sm cursor-pointer lg:w-20">
            <div class="flex flex-col items-center space-y-2">
              <div class="w-10 h-10 bg-gray-300 rounded-lg flex items-center justify-center">
                <mat-icon class="text-blue-600 text-sm">science</mat-icon>
              </div>
              <span class="text-xs text-center text-gray-700 leading-tight">Laboratoriotilaus</span>
            </div>
          </div>

          <div class="hover:shadow-sm cursor-pointer lg:w-20">
            <div class="flex flex-col items-center space-y-2">
              <div class="w-10 h-10 bg-gray-300 rounded-lg flex items-center justify-center">
                <mat-icon class="text-blue-600 text-sm">description</mat-icon>
              </div>
              <span class="text-xs text-center text-gray-700 leading-tight">Todistukset</span>
            </div>
          </div>

          <div class="hover:shadow-sm cursor-pointer lg:w-20">
            <div class="flex flex-col items-center space-y-2">
              <div class="w-10 h-10 bg-gray-300 rounded-lg flex items-center justify-center">
                <mat-icon class="text-blue-600 text-sm">receipt</mat-icon>
              </div>
              <span class="text-xs text-center text-gray-700 leading-tight">Reseptit</span>
            </div>
          </div>

          <div class="hover:shadow-sm cursor-pointer lg:w-20">
            <div class="flex flex-col items-center space-y-2">
              <div class="w-10 h-10 bg-gray-300 rounded-lg flex items-center justify-center">
                <mat-icon class="text-blue-600 text-sm">camera_alt</mat-icon>
              </div>
              <span class="text-xs text-center text-gray-700 leading-tight">Kuvaantaminen</span>
            </div>
          </div>

          <div class="hover:shadow-sm cursor-pointer lg:w-20">
            <div class="flex flex-col items-center space-y-2">
              <div class="w-10 h-10 bg-gray-300 rounded-lg flex items-center justify-center">
                <mat-icon class="text-blue-600 text-sm">medication</mat-icon>
              </div>
              <span class="text-xs text-center text-gray-700 leading-tight">Lääkelistä</span>
            </div>
          </div>

          <div class="hover:shadow-sm cursor-pointer lg:w-20 self-center ">
            <div class="flex items-center justify-center">
              <div class="w-10 h-10 bg-gray-100 rounded-lg flex items-center justify-center">
                <mat-icon class="text-gray-400">add</mat-icon>
              </div>
            </div>
          </div>
        </div>
         </div>